
* {
    font-style: 'sans-serif';
}

.background-div {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 4rem;  
    margin-bottom: 8%;
}

.profile-tab {
    width: 18rem;
    padding: 3% 5%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    background-color: #4CAF50;
}


.navigation-tab {
    overflow: auto;
    width: 15%; 
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    background-color: #4CAF50;
}

.account-tab, .exit-tab {
    display: flex;
    justify-content: left;
    margin-left: 15%;
    height: 3rem;
    border-radius: 0px !important;
    color: white;
    width: auto;
    font-size: 18px;
    margin-top: 25%;
}

.exit-tab {
    margin-bottom: 25%;
}

.icon-tab {
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
}

.profile-title {
    font-size: 2.5rem;
    color: white;
    margin-top: 5%;
}

.name-section {
    font-size: 1.5rem;
    color: white;
    margin-top: 12%;
}

.name-input {
    padding: 8px;
    border-radius: 5px !important;
    width: auto;
    font-style: verdana;
    font-size: 18px;
    margin-top: 4%;
    margin-bottom: 10%;
}

.modify-button {
    margin-top: 12%;
    width: 75%;
    height: 20%;
    background-color: white;
    color: green;
}

.button-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.flower-image {
    width: 20rem;
    height: 30rem;
}

.appointment-item {
    color: green; 
}

.doctor-title {
    margin-left: 1rem;
    margin-top: 3rem;
    color: green; 
}

.title-item {
    color: green;
}

.appointment-container {
    border-radius: 5px;
}

.hospital-div {
    display: flex; 
    justify-content: space-between; 
    margin-left: 1rem; 
    margin-right: 1rem;
}


.content-table {
    margin-top: 3%;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px; 
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    gap: 10rem;
    background-color: #4CAF50;;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th {
    background-color: #4CAF50;;
    color: white;
    font-weight: 300;
    font-size: 15px;
}

.appontment-title {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.header-div {
    font-weight: 500 !important;
    color: #4CAF50;
    padding-top: 5%;
    padding-bottom: 5%;
}

.header-info {
    padding-left: 2.5rem;
    text-align: center;
}

.appointment-div {
    display: flex;
    justify-content: center;
    background-color: white; 
    margin-top: 10%; 
    border-radius: 5px;
}

::ng-deep .mat-paginator-outer-container {
    margin-top: 15%;
    width: 100%;
    background-color: green;
    color: white;
}

::ng-deep .my-snackbar {
    background-color: white;
    text-align: center;
    vertical-align: middle;
    color: green;
}

::ng-deep .mat-simple-snackbar-action button {
    color: green !important;
}

.subscription-container {
    margin-top: 10%;
    padding: 10%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  2rem;
    border-radius: 10px;
    background-color: white;
    color: green;
}

.subscription-title {
    color: white;
    font-size: 24px; 
    text-align: center;
}

.container-body {
    font-size: 30px; 
    text-align: center;
}