<div class="background-div" @fade>
    <div class="navigation-tab">  
        <button 
            mat-button
            class="account-tab" 
            (click)="showAccountPage('showProfilePage')" 
        >
            <mat-icon class="icon-tab">person</mat-icon> Account
        </button>
        <button 
            mat-button
            class="account-tab" 
            (click)="showAccountPage('showAppointmentPage')" 
        >
            <mat-icon class="icon-tab">calendar_today</mat-icon>
            Appointments
        </button>
        <button 
            mat-button
            class="account-tab" 
            (click)="showAccountPage('showSubscriptionPage')" 
        >
            <mat-icon class="icon-tab">notifications</mat-icon>
            Subscription
        </button>
        <button 
            *ngIf="!this.showEmailConfirmButton"
            mat-button
            class="account-tab" 
            (click)="showAccountPage('showConfirmEmailPage')" 
        >
            <mat-icon class="icon-tab">email</mat-icon> Confirm Email
        </button>
        <button 
            mat-button
            class="exit-tab" 
            (click)="logOut()" 
        >
            <mat-icon class="icon-tab">exit_to_app</mat-icon>
            Log out
        </button>
    </div>
    <div 
        *ngIf="this.accountPages.showProfilePage" 
        class="profile-tab"
    >
        <p class="profile-title">
            Public Profile 
        </p>
        <p class="name-section">
            First Name
        </p>
        <input 
            class="name-input"
            [(ngModel)]="firstName"
            type="text"
        >
        <p class="name-section">
            Last Name
        </p>
        <input 
            class="name-input"
            [(ngModel)]="lastName"
            type="text"
        >
        <p class="name-section">
            Email
        </p>
        <input 
            class="name-input"
            [(ngModel)]="email"
            type="text"
        >
        <p class="name-section">
            Phone Number
        </p>
        <input 
            class="name-input"
            [(ngModel)]="phoneNumber"
            type="text"
        >
        <div class="button-container">
            <button 
                mat-button 
                (click)="updateProfile()" 
                class="update-button"
            >
                Update Profile
            </button>
        </div>
    </div>
    <div 
        *ngIf="this.accountPages.showAppointmentPage && this.showAppointments" 
        class="profile-tab"
    >
        <p class="appontment-title">
            Past Appointments
        </p>
        <div class="appointment-container">
            <div *ngFor="let appointment of this.appointments">
                <div class="appointment-div">
                    <table>
                        <tbody>
                            <tr>
                                <th class="header-div">
                                    Doctor Name
                                </th>
                                <td class="header-info">
                                    Dr. {{appointment.doctorFirstName}} {{appointment.doctorLastName}}
                                </td>
                            </tr>
                            <tr>
                                <th class="header-div">
                                    Hospital
                                </th>
                                <td class="header-info">
                                    {{appointment.hospitalName}}
                                </td>
                            </tr>
                            <tr>
                                <th class="header-div">
                                    Location
                                </th>
                                <td class="header-info">
                                    {{appointment.location}}
                                </td>
                            </tr>
                            <tr>
                                <th class="header-div">
                                    Price
                                </th>
                                <td class="header-info">
                                    {{appointment.price}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <mat-paginator 
            *ngIf="this.tableCopy.length > pageSize" 
            [pageSize]="pageSize" 
            [length]="this.tableCopy.length" 
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>
    <div 
        *ngIf="this.accountPages.showAppointmentPage && !this.showAppointments" 
        class="profile-tab"
    >
        <div class="subscription-container">
            <p class="container-body">
                No Past Appointments
            </p>
        </div>
    </div>
    <div 
        *ngIf="this.accountPages.showSubscriptionPage && this.showSubscription" 
        class="profile-tab"
    >
        <p class="subscription-title">
            Subscription is valid until
        </p>
        <div class="subscription-container">
           {{this.endDate}}
        </div>
        <button
            mat-button
            (click)="cancelSubscription()"
            class="cancel-button"
        >
            Cancel Subscription
        </button>
    </div>
    <div 
        *ngIf="this.accountPages.showSubscriptionPage && !this.showSubscription" 
        class="profile-tab"
    >
        <div class="subscription-container">
            <p class="container-body">
                No Active Subscription
            </p>
        </div>
    </div>
    <div 
        *ngIf="this.accountPages.showConfirmEmailPage" 
        class="profile-tab"
    >
        <p class="subbody-title">
            Confirmation email has been sent.
        </p>
        <p class="code-title">
            Enter the code
        </p>
        <div class="code-container">
            <input 
                [(ngModel)]="confirmationCode"
                class="name-input"
                type="text"
            >
        </div>
        <div class="enter-container">
            <button 
                mat-button 
                (click)="confirmEmail()" 
                class="enter-button"
            >
                Submit
            </button>
        </div>
    </div>
    <img class="flower-image" src="assets/flower2.jpg">
</div>
