

.body-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 3rem;
    margin-right: 2.5rem;
}
  
.main-image {
    width: 90px;
    height: 86px;
    margin-right: 20px; 
}
  
.text-container {
    gap: 5rem;
    display: flex;
    align-items: center;
}

.text-container a{
    font-weight: 500;
    color: green;
    font-family: sans-serif;
    text-decoration: none;
}

.text-container a:active {
    text-decoration: underline;
}

.login-button {
    color: rgb(255, 255, 255);
    background-color: green;
}
  
@media screen and (max-width: 768px) {
.body-div {
    flex-direction: column;
    align-items: center;
}

.main-image {
    margin-right: 0;
    margin-bottom: 20px;
}
}
  