<div class="main-background">
    <div class="form-container">
        <form 
            class="register-form" 
            [formGroup]="formControl"
        >
            <div class="error-container">
                <button 
                    *ngIf="this.emptyFieldErrorMessage" 
                    mat-button 
                    class="error-button" 
                    (click)="closeErrorMessage()"
                >
                    <mat-icon>close</mat-icon>
                    Empty input fields
                </button>
                <button 
                    *ngIf="this.invalidPhoneNumber" 
                    mat-button 
                    class="error-button" 
                    (click)="closeErrorMessage()"
                >
                    <mat-icon>close</mat-icon>
                    Invalid phone number
                </button>
                <button 
                    *ngIf="this.invalidName" 
                    mat-button 
                    class="error-button" 
                    (click)="closeErrorMessage()"
                >
                    <mat-icon>close</mat-icon>
                    Invalid firstname or lastname
                </button>
                <button 
                    *ngIf="this.confirmationErrorMessage" 
                    mat-button 
                    class="error-button" 
                    (click)="closeErrorMessage()"
                >
                    <mat-icon>close</mat-icon>
                    Passwords do not match
                </button>
            </div>
            <h1>
                Sign Up
            </h1>
            <div>
                <input 
                    class="data-input"
                    type="text" 
                    placeholder="First Name" 
                    formControlName="firstName"
                >
                <input 
                    class="data-input"
                    type="text" 
                    placeholder="Last Name" 
                    formControlName="lastName"
                >
                <input 
                    class="data-input"
                    type="text" 
                    placeholder="Phone Number" 
                    formControlName="phoneNumber"
                >
                <input 
                    class="data-input"
                    type="text" 
                    placeholder="Email" 
                    formControlName="email"
                >
                <div class="input-container">
                    <input 
                        class="data-input"
                        [type]="showPassword ? 'text' : 'password'"
                        placeholder="Password" 
                        formControlName="password"
                        id="passwordInput"
                        (input)="onPasswordInputChange($event.target)"
                    >
                    <mat-icon 
                        matSuffix 
                        class="icon-container" 
                        *ngIf="isPasswordNotEmpty" 
                        (click)="togglePasswordVisibility()"
                    >
                        {{showPassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </div>
                <div class="input-container">
                    <input 
                        class="data-input"
                        [type]="showConfirmedPassword ? 'text' : 'password'"
                        placeholder="Confirm Password" 
                        formControlName="password"
                        id="passwordInput"
                        (input)="onConfirmPasswordInputChange($event.target)"
                    >
                    <mat-icon 
                        matSuffix 
                        class="icon-container" 
                        *ngIf="isConfirmedPasswordNotEmpty" 
                        (click)="toggleConfirmPasswordVisibility()"
                    >
                        {{showConfirmedPassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </div>
                <button 
                    class="register-button" 
                    mat-button 
                    (click)="register()"
                >
                    Register
                </button>
            </div>
        </form>
    </div>
</div>