
.main-background {
    text-align: center;
    padding-top: 1.7%;
    margin-bottom: 15%;    
    height: 100%;
}

.paginator-class {
    display: flex;
    justify-content: right;
}

.page-button {
    border: 1.5px solid black;
}

.page-title {
    font-size: 32px;
}

.location-title {
    margin-bottom: 5%;
    margin-left: 15%;
    font-size: 20px;
}

.location-div {
    text-align: center;
}

.hospital-item {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 7%;
    height: 15vh;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: rgb(250, 246, 246);
    color: green;
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.select-container {
    padding-top: 3%;
    display: flex; 
    justify-content: center; 
    gap: 5rem;
}

.mobile-div, .address-div {
    display: flex;
}

.address-div {
    margin-top: 4%;
}

.select-city {
    margin-top: 10%;
    height: 1.8rem;
    width: 70%;
}

.call-div {
    margin-top: 10%;
}

.filter-div {
    align-items: center;
    color: white !important;
}

.filter-title, .contact-call {
    font-size: 25px;
    color: white;   
}

.contact-call {
    width: 99%;
}

.filter-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 18% 5%;
    height: auto;
    background-color: #4CAF50;
}

.call-container {
    border-bottom: 2px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    padding: 25% 5%;
    height: auto;
    background-color: #4CAF50;
}

.call-button {
    background-color: white;
    color: black;
    width: 70%;
}

.material-icons {
    font-family: 'Material Icons' !important;
} 

.filter-button {
   font-weight: 500;
   background-color: white;  
   margin-bottom: 8%; 
   margin-top: 8%; 
   width: 70%; 
   color: black;
}

.hospital-title {
    font-weight: 500; 
    font-size: 25px;
}