<div class="main-background" @fade>
    <p class="page-title">
        Locations
    </p>
    <div class="select-container">
        <div class="detail-container">
            <div class="filter-container">
                <p class="filter-title">
                    Select City
                </p>
                <div class="filter-div">
                    <select 
                        class="select-city"
                        [(ngModel)]="selectedCity"
                    >
                        <option></option>
                        <option value="" disabled selected>Select City</option>
                        <option 
                            *ngFor="let city of this.dictionaryCopy.keys()" 
                            [ngValue]="city" 
                        >
                            {{city}}
                        </option>
                    </select>
                </div>
                <button
                    class="filter-button"
                    (click)="filterLocations()"
                    mat-button
                >
                    Filter 
                </button>
            </div>
            <div class="call-container">
                <p class="contact-call">
                    For More Information
                </p> 
                <div class="call-div">
                    <button
                        class="call-button"
                        (click)="callNumber()"
                        mat-button
                    >   
                        <mat-icon>phone</mat-icon>
                        Contact
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div 
                class="location-container" 
                *ngFor="let key of this.locationDictionary.keys()"
            >
                <div class="location-div">
                    <p class="location-title">
                        {{key}}
                    </p>
                    <div 
                        *ngFor="let value of this.locationDictionary.get(key)" 
                        class="hospital-item"
                    >
                        <p class="hospital-title">
                            {{value.name}}
                        </p>
                        <div>
                            <p class="mobile-div">
                                Mobile: {{value.phoneNumber}}
                            </p>
                            <p class="address-div">
                                Address: {{value.address}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div 
                *ngIf="!this.elementsFiltered" 
                class="paginator-class"
            >
                <button 
                    [disabled]="this.currentIndex == 1"
                    (click)="movePage('backwards', -1)" 
                    class="forward-button" 
                    mat-button
                >
                    <mat-icon>arrow_backward</mat-icon>
                </button>
                <button 
                    *ngFor="let index of this.pageIndexes" 
                    class="page-button" 
                    (click)="movePage('fixedPosition', index)"
                    mat-button
                >
                    {{index}}
                </button>
                <button 
                    [disabled]="3*this.currentIndex >= this.dictionaryCopy.size"
                    (click)="movePage('forwards', -1)" 
                    mat-button
                    class="forward-button"
                >
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>