.diagnostic-page {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}

.diagnostic-messsage {
    margin-top: 4%;
    font-family: Arial;
    color: #36aa3a;
    width: 34%;
}

.higher-message {
    font-family: Arial;
    font-size: 3.2rem;
}

.lower-message {
    font-family: Arial;
    margin-top: 6%;
    font-size: 1.5rem;
}

.doctor-table {
    height: 50%;
    width: auto;
    background-color:#4CAF50;
    border: 2px solid rgb(21, 196, 91);
    border-radius: 3px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.appointment-form {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    min-width: 400px;
    max-width: 400px;
    min-height: 450px;
    max-height: 700px;
    background-color: #ebf3ed;
    border-radius: 10px;
    padding: 30px;
    backdrop-filter: blur(10px);
    margin: auto;
    width: 45%;
}

.appointment-form *{
    color: #121212;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.appointment-form h1{
    font-size: 30px;
    font-weight: 520;
    text-align: center;
    color: black;
}

.data-input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}

.list-button {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 50px;
    width: 100%;
    background-color: #1a9142;
    color: #ffffff !important;
}

.form-subcontainer {
    margin-top: 1.5rem; 
    width: 100%;
}

* {
    font-family: sans-serif;
}

.table-container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #4CAF50;;
    color: #ffffff;
    text-align: left;   
    font-weight: bold;
}

.content-table th {
    background-color: #4CAF50;;
    color: white;
    font-weight: 300;
    font-size: 15px;
}

.content-table th,
.content-table td {
    text-align: center;
    padding: 12px 15px;
    width: 9rem;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
}

.material-icons{
    font-family: 'Material Icons' !important;
} 

.table-button {
    background-color: #4CAF50; 
    color: white;
}

.table-list {
    text-align: center;
}