<div
    class="diagnostic-page"
    @fade
>
    <div class="diagnostic-messsage">
        <p class="higher-message">
            We suspect you have some form of {{this.diseaseName}}
        </p>
        <p class="lower-message">
            Don't worry, make an appointment with one of our trusted {{this.doctorTitle}} to get an accurate diagnostic.
        </p>
    </div>
    <div class="main-background">
        <div class="form-container">
            <div class="appointment-form">
                <h1>
                    Set Appointment
                </h1>
                <div>
                    <mat-form-field class="form-subcontainer" appearance="fill">
                        <mat-label>Control</mat-label>
                        <select [disabled]="true" matNativeControl required>
                            <option value="General Control">General Control</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="form-subcontainer" appearance="fill">
                    <mat-label>Locations</mat-label>
                    <select [(ngModel)]="selectedLocation" matNativeControl required>
                        <option value=""></option>
                        <option value="{{location}}" *ngFor="let location of this.locations" >{{location}}</option>
                    </select>
                    </mat-form-field>
                    <mat-form-field class="form-subcontainer" appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                          <input matStartDate formControlName="start" placeholder="Start date">
                          <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                        <mat-error *ngIf="dateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="dateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                      </mat-form-field>
                    <button (click)="listAppointmentDates()" class="list-button" mat-button>
                        See Available Dates
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>