<div class="text-container" @fade >   
    <div class="header-container">
        <p class="header-text">
            Welcome to Our Service 
        </p>
    </div>  
    <div class="header-subcontainer">
        <p class="header-subtext">
            A typical process involves four steps, starting with 
            the symptom diagnostic phase        
        </p>
        <button
            mat-button
            [routerLink]="['/symptom-page']"
            class="start-button"
        >
            Start
        </button>
    </div>
</div>