<div
    class="welcome-message"
    @fade
>   
    <div class="text-container">
        <p style="font-size: 4rem;">
            Welcome To Our Service 
        </p>
    </div>
    <div class="button-container">
        <p class="phase-text">
            The next phase is the symptom diagnostic phase which will take 4 steps in total.
        </p>
        <button
            mat-button
            [routerLink]="['/symptom-page']"
            class="start-button"
        >
            Start
        </button>
    </div>
</div>