<div
    class="big-container"
    @fade
>   
    <div class="container">
        <div
          class="arrow-button-container"
        >
          <p class="welcome-message">
            First step we need to know more about your symptoms
          </p>
          <button
            mat-button
            (click)="submitSymptoms()"
            class="arrow-button"
          >
            <mat-icon>arrow_forward</mat-icon>
            Next
          </button>
        </div>
        <div class="form-group">
          <input 
            [(ngModel)]="partialSymptomName" 
            type="text" 
            class="form-control" 
            placeholder="Enter symptom"
          >
          <button 
            mat-button 
            type="submit" 
            class="submit-button"
            (click)="filterSymptoms()"
          >
            Search
          </button>
        </div>
        <div *ngFor="let symptom of symptomList" class="symptom-element">
          {{symptom[0]}}
          <mat-checkbox [(ngModel)]="symptom[1]"></mat-checkbox>
        </div>
        <mat-paginator class="symptom-paginator" [pageSize]="pageSize" [length]="this.filteredTableCopy.length" (page)="onPageChange($event)"></mat-paginator>
    </div>
</div>