<div class="main-container" @fade>   
    <div class="sub-container">
        <div class="button-container">
          <p class="button-container-text">
            First of all we need to know more about your symptoms. 
            Select at least 5 from the list 
          </p>
          <button
            mat-button
            (click)="submitSymptoms()"
            class="submit-button"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
        <div class="form-container">
          <input 
            [(ngModel)]="partialSymptomName" 
            type="text" 
            class="filter-input" 
            placeholder="ex: Sore Throat"
          >
          <button 
            mat-button 
            type="submit" 
            class="filter-button"
            (click)="filterSymptoms()"
          >
          <mat-icon>search</mat-icon>
          </button>
        </div>
        <div *ngFor="let symptom of symptomList" class="table-element">
          {{symptom[0]}}
          <mat-checkbox [(ngModel)]="symptom[1]"></mat-checkbox>
        </div>
        <mat-paginator [pageSize]="pageSize" [length]="this.filteredTableCopy.length" (page)="onPageChange($event)"></mat-paginator>
    </div>
</div>