.container {
    max-width: 600px; 
    border-radius: 1rem;
    margin: 0 auto; 
    text-align: center; 
    font-size: 2rem;
    border: 5px solid green;
    background-color:#5dcb60;
    color: white;
} 

.arrow-button {
    top: 50%;
    height: 50%;
    background-color:white;
    color: #5dcb60;
}

.welcome-message {
    width: 70%;
    padding-top: 2rem;
    font-family: Calibri;
    font-size: 30px;
    padding-bottom: 2rem;
}

.big-container {
    padding-top: 1.5rem;
}

.symptom-element {
    display: flex;
    font-family: Calibri;
    justify-content: space-between;
    padding: 1.8rem 4.8rem 2.5rem 2.8rem;
}

.plus-button {
    background-color: white;
}

.form-group input,
.form-group button {
    margin-top: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

.form-group input {
    border-radius: 0px !important;
    width: 71%;
    height: 30px;
    font-family: "Arial";
}

.submit-button {
    margin-left: 1px;
    border-radius: 0px !important;
    background-color: white;
    color: #5dcb60;
}

.arrow-button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

::ng-deep .mat-paginator-outer-container {
    color: green;
}