<div 
  class="main-background"
  @fade
>
  <div class="body-container">
      <div class="body-title">
        <p style="font-size: 65px">
          No ordinary doctor's office
        </p>
        <p class="appointment-title">
          Making an appointment has never been
          easier using our platform!
        </p>
        <button
          mat-button
          (click)="enterMainPage()"
          class="chat-button"
        >
        <mat-icon>chat</mat-icon>
          Chat with our online Assistant 
        </button>
      </div>
      <img src="assets\senior-main-page.jpg" class="main-image">
  </div>
</div>