<div class="main-background">
    <form class="email-form">
        <button 
            *ngIf="this.showWindowMessage" 
            (click)="sendVerificationEmail()"
            class="email-button" 
        >
            {{windowMessage}}
        </button>
        <div class="error-container">
            <button 
                *ngIf="this.emptyFieldErrorMessage" 
                mat-button 
                class="error-button" 
                (click)="closeErrorMessage()"
            >
                <mat-icon>close</mat-icon>
                Empty email field
            </button>
        </div>
        <h1>
            Forgot Password
        </h1>
        <form 
            class="login-form" 
            [formGroup]="formGroup"
        >
            <input 
                class="email-input"
                type="text" 
                placeholder="Email" 
                formControlName="email"
            >
        </form>
        <button 
            class="verification-button" 
            (click)="sendVerificationEmail()" 
            mat-button
        >
            Send Verification Email
        </button>
    </form>
</div>