<div class="ambulance-page" @fade>
    <div class="ambulance-messsage">
        <p class="higher-message">
            Emergency Call
        </p>
        <p class="middle-message">
            Get immediate help from a trusted healthcare professional. 
        </p>
        <p 
            *ngIf="this.diseaseName.length != 0"
            class="diagnostic-message"
        >
            We suspect you have some form of {{this.diseaseName}}.
        </p>
        <button
            class="search-button" 
            (click)="callNumber()"
            mat-button
        >
        <mat-icon>phone</mat-icon>
            Call
        </button>
    </div>
    <img src="assets\ambulance.png">
</div>