<div class="main-background">
    <div class="form-container">
        <div 
            class="form-subcontainer" 
        >
            <h1>
                Set Appointment
            </h1>
            <mat-form-field class="container-class" appearance="fill">
                <mat-label>Consult</mat-label>
                <select matNativeControl [disabled]="true">
                  <option value="General Consult" selected>General Consult</option>
                </select>
            </mat-form-field>
            <mat-form-field class="container-class" appearance="fill">
                <mat-label>Hospital</mat-label>
                <select 
                    matNativeControl 
                    required 
                    [(ngModel)]="selectSortingMethod"
                >
                    <option *ngFor="let sort of sortings">
                        {{sort}}
                    </option>
                </select>
            </mat-form-field>
            <mat-form-field class="container-class" appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button 
                class="submit-button" 
                mat-button 
            >
                Submit
            </button>
        </div>
    </div>
</div>
