
<div class="full-screen-container">
    <div class="description-container">
        <div class="description-subcontainer">
            <p class="doctor-name">
                Dr. {{this.doctor.firstName}} {{this.doctor.lastName}}
            </p>
            <p class="doctor-position">
                {{this.doctor.currentPosition}}
            </p>
        </div>
    </div>
    <div class="background-container">
        <div class="background-container">
            <div class="background-div">
                <p class="specialty-title">
                    Specialty:
                </p>
                <p class="specialty-text">
                    {{this.doctor.specialization}}
                </p>
                <p class="hospital-title">
                    Hospital Name:
                </p>
                <p class="hospital-text">
                    {{this.doctor.hospitalName}}
                </p>
                <p class="location-title">
                    Location:
                </p>
                <p class="location-text">
                    {{this.doctor.location}}
                </p>
            </div>
            <img class="profile-image" src="assets/empty-screen.jpg">
        </div>
        <div class="review-number-container">
            <div 
                class="review-div"
            >
                <p 
                    *ngIf="this.reviewsEvaluationNumber != undefined"
                    class="review-number-title"
                >
                    Grade
                </p>
                <div 
                    *ngIf="this.reviewsEvaluationNumber != undefined"
                    class="rating-container"
                >
                    <div class="rating-subcontainer">
                        <p class="rating-number">
                            {{this.doctor.rating}}
                        </p>
                        <p class="rating-length">
                            {{this.reviewsEvaluationNumber}} ratings
                        </p>
                    </div>
                </div>
                <div *ngIf="this.reviewsEvaluationNumber == undefined" class="container">
                    <p>No Ratings</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="review-list-title">
    Review List
</p>
<div class="profile-container">
    <div class="chart-container">
        <canvas id="MyChart">{{ chart }}</canvas>
    </div>
</div>
<div class="education-container">
    <div class="education-description">
        <p class="education-title">
            Education
        </p>
        <div 
            class="education-item" 
            *ngFor="let degree of this.degreeList"
        >
            <p class="education-year">
                {{this.splitYear(degree.startYear)}} - {{this.splitYear(degree.endYear)}}
            </p>
            <div class="education-college">
                <p>
                    {{degree.name}} - {{degree.location}}
                </p>
                <p class="education-program">
                    {{this.studyProgram[degree.studyProgram]}} {{this.studyField[degree.studyField]}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="review-container">
    <div class="review-description">
        <p class="review-title">
            Reviews
        </p>
        <div 
            *ngFor="let review of this.reviewList" 
            class="review-list"
        >
            <div class="review-element"> 
                <div class="reviewer-item">
                    <img class="reviewer-image" src="assets/reviewer.png">
                </div>
                <div class="review-user">
                    <div 
                        class="review-star" 
                        *ngFor="let icon of createArray(this.review.number)"
                    >
                        <mat-icon>star</mat-icon>
                    </div>
                    <div 
                        class="review-star" 
                        *ngIf="this.review.number % 2 == 1"
                    >
                        <mat-icon>star_half</mat-icon>
                    </div>
                    <div
                        class="review-star" 
                        *ngIf="this.review.number == 0"
                    >
                        <mat-icon>star_border</mat-icon>
                    </div>
                    <div 
                        class="review-star"
                        *ngFor="let icon of createArray(10 - this.review.number)"
                    >
                        <mat-icon>star_border</mat-icon>
                    </div>
                </div>
            </div>
            <div class="review-message-container">
                <p class="review-message">
                    {{this.review.message}} 
                </p>
            </div>
        </div>
        <mat-paginator [pageSize]="pageSize" [length]="this.tableCopy.length" (page)="onPageChange($event)"></mat-paginator>
    </div>
</div>
  
  