<div class="main-background">
    <div class="form-container">
        <form 
            class="login-form" 
            [formGroup]="formControl"
        >
            <button 
                *ngIf="loginErrorMessage" 
                mat-button 
                class="error-button" 
                (click)="closeErrorMessage()"
            >
                <mat-icon>close</mat-icon>
                Please enter a correct email and password
            </button>
            <button 
                *ngIf="inputErrorMessage" 
                mat-button 
                class="error-button" 
                (click)="closeErrorMessage()"
            >
                <mat-icon>close</mat-icon>
                Empty input fields
            </button>
            <h1>
                Login Here
            </h1>
            <div 
                *ngIf="pacientSelected" 
            >
                <input 
                    class="data-input"
                    type="text" 
                    placeholder="Email" 
                    formControlName="email"
                >
                <input 
                    class="data-input"
                    type="password" 
                    placeholder="Password" 
                    formControlName="password"
                >
                <button 
                    class="logIn-button" 
                    mat-button 
                    (click)="logInAsPacient()"
                >
                    Log In
                </button>
                <div class="link-tags">
                    <a href="#" (click)="createAccount($event)">
                        No Account?
                    </a>
                    <a href="#" (click)="forgotPassword($event)">
                        Forgot Password?
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>