
.main-container {
    padding-top: 1.5rem;
}

.sub-container {
    min-width: 400px;
    max-width: 550px; 
    border-radius: 1rem;
    font-size: 2rem;
    margin: 0 auto; 
    text-align: center; 
    border: 5px solid green;
    color: white;
    background-color:#5dcb60;
} 

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-button {
    margin-right: 8%;
    top: 50%;
    height: 50%;
    background-color:white;
    color: #5dcb60;
}

.button-container-message {
    padding: 5% 0 5% 1%;
    width: 70%;
    font-family: Calibri;
    font-size: 30px;
}

.table-element {
    display: flex;
    font-family: Calibri;
    justify-content: space-between;
    padding: 2% 12% 8% 6%;   
}

::ng-deep .table-element .mat-checkbox-checked .mat-checkbox-background {
    background-color: green;
    color: white;
}

::ng-deep .snackbar {
    background-color: white;
    color: rgb(193, 35, 35);
    text-align: center;
    vertical-align: middle;
}

::ng-deep .mat-simple-snackbar-action button {
    color: rgb(193, 35, 35)  !important;
}