<div>
    <div
    class="big-container"
    @fade
>   
    <div class="container">
        <div
          class="arrow-button-container"
        >
          <p class="welcome-message">
            Then we need to know how sever your symptoms are from 1 to 3
          </p>
          <button
            mat-button
            (click)="moveNext()"
            class="arrow-button"
          >
          <mat-icon>arrow_forward</mat-icon>
            Next
          </button>
        </div>
        <div 
            *ngFor="let severity of severityLevels" 
            class="severity-element"
        >
            {{severity}}
            <mat-checkbox [disabled]="selected" (change)="onCheckboxChange(severity)"></mat-checkbox>
        </div>
    </div>
</div>
</div>