<div class="main-container" @fade>
  <div class="sub-container">
      <div class="button-container">
        <p class="button-container-message">
          Then we need to know how severe your symptoms are
        </p>
        <button
          mat-button
          class="submit-button"
          (click)="submitSeverity()"
        >
        <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <div 
          *ngFor="let severity of severityLevels" 
          class="table-element"
      >
          {{severity}}
          <mat-checkbox [disabled]="selected" (change)="onCheckboxChange(severity)"></mat-checkbox>
      </div>
  </div>
</div>