

.body-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 3rem;
    margin-right: 2.5rem;
}
  
.main-image {
    width: 90px;
    height: 86px;
    margin-right: 20px; 
}
  
.text-container {
    gap: 5rem;
    display: flex;
    align-items: center;
}

.text-container a{
    font-weight: 500;
    color: green;
    font-family: sans-serif;
    text-decoration: none;
}

.text-container a:active {
    text-decoration: underline;
}

.login-button {
    color: rgb(255, 255, 255);
    background-color: green;
}
  
@media screen and (max-width: 768px) {
    .body-div {
        flex-direction: column;
        align-items: center;
    }

    .main-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.footer-menu li {
    margin-left: 5rem;
}
  
.footer-menu li:first-child {
    margin-left: 0;
}
  
.footer-menu li a {
    color: #666;
    text-decoration: none;
}
  
.footer-menu li a:hover {
    text-decoration: underline;
}
  
.footer-menu li:not(:last-child) {
    margin-right: 20px;
}

.footer-container {
    display: flex; 
    justify-content: space-between;
    height: 8rem;
    padding: 6% 10% 20% 8%;
}

.material-icons{
    font-family: 'Material Icons' !important;
} 

.title-container {
    display: flex; 
    justify-content: space-around; 
    margin-bottom: 10%;
}

.icon-container {
    margin-top: 5%;
    display: flex; 
    justify-content: left; 
    gap: 1rem;
}

.rights-title {
       color: rgb(93, 91, 91);
    margin-top: 40%;
}

.footer-title {
    font-weight: 550; 
    font-size: 25px;
}

.company-title {
    font-family: 'Verdana';
    color: rgb(93, 91, 91);
    font-weight: 500;
    font-size: 40px;
}

.footer-piece {
   color: rgb(93, 91, 91);
}

.footer-firstItem {
    margin-top: 25%; 
    font-size: 18px;
}

.footer-item {
    margin-top: 15%; 
    font-size: 18px;
}

.support-title {
    margin-top: 20%; 
    font-size: 18px;
}

.residence-container {
    display: flex; 
    justify-content: left; 
    align-items: center; 
    gap: 0.5rem;
}

.phone-container {
    display: flex; 
    margin-top: 5%; 
    justify-content: left; 
    align-items: center; 
    gap: 0.5rem;
}