<div class="body-container">
  <div class="body-div">
    <a href="#" (click)="displayPage($event, 'home')">
      <img  
        class="main-image"
        src="assets\main-logo.jpg" 
      >
    </a>
    <div class="banner-container">
      <div class="text-container">
        <a href="#" (click)="displayPage($event, 'employees')">
          Employees
        </a>
        <a href="#" (click)="displayPage($event, 'locations')">
          Locations
        </a>
        <a href="#" (click)="displayPage($event, 'subscriptions')">
          Subscriptions
        </a>
        <a href="#" *ngIf="this.loggedIn" (click)="displayPage($event, 'account')">
          My Account
        </a>
        <button
            *ngIf="!this.loggedIn"
            mat-button
            [routerLink]="'/login'"
            class="login-button"
          >
          <mat-icon>login</mat-icon>
            Log In
        </button>
        <button
            *ngIf="this.loggedIn"
            mat-button
            class="login-button"
          >
            Logged In 
        </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="footer-container">
      <div class="col-auto">
        <div class="title-container">
          <p class="company-title">
            Virtual Clinic Team.
          </p>
        </div>
        <div class="residence-container">
          <mat-icon class="footer-piece">home</mat-icon>
          <p class="footer-piece">
            Hollosi Simon nr.10, Cluj-Napoca, Romania
          </p>
        </div>
        <div class="phone-container">
          <mat-icon class="footer-piece">
            phone
          </mat-icon>
          <p class="footer-piece">
            0774487082
          </p>
        </div>
        <div class="icon-container">
          <mat-icon class="footer-piece">
            facebook
          </mat-icon>
          <mat-icon class="footer-piece">
            email
          </mat-icon>
          <mat-icon class="footer-piece">
            ondemand_video
          </mat-icon>
        </div>
        <p class="rights-title">
          @2023 All rights reserved. Virtual Clinic
        </p>
      </div>
      <div class="col-auto">
        <ul class="footer-menu d-flex">
          <li>
            <p class="footer-title">
              About Us
            </p>
            <div class="footer-firstItem">
              <a 
                href="#" 
                (click)="displayPage($event, 'employees')"
              >
              Employees
            </a>
            </div>
            <div class="footer-item">
              <a 
                href="#" 
                (click)="displayPage($event, 'locations')"
              >
                Locations
              </a>
            </div>
            <div class="footer-item">
              <a 
                href="#" 
                (click)="displayPage($event, 'subscriptions')"
              >
                Subscriptions
              </a>
            </div>
          </li>
          <li>
            <p class="footer-title">
              Contact
            </p>
            <div class="support-title">
              <a
                href="#" 
                (click)="contactSupport()"
              >
                Contact Support
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>