<div class="body-container">
  <div class="body-div">
    <a href="#" (click)="goHome($event)">
      <img  
        src="assets\mainpage-logo2.jpg" 
        class="main-image"
      >
    </a>
    <div class="banner-container">
      <div class="text-container">
        <a href="#" (click)="lookEmployeePage($event)">
          Employees
        </a>
        <a href="#" (click)="lookLocationsPage($event)">
          Locations
        </a>
        <a href="#">
          Prices
        </a>
        <a href="#">
          Subscriptions
        </a>
        <a href="#">
          Community
        </a>
        <button
            *ngIf="!this.loggedIn"
            mat-button
            (click)="login()"
            class="login-button"
          >
          <mat-icon>login</mat-icon>
            Log In
        </button>
        <button
            *ngIf="this.loggedIn"
            mat-button
            class="login-button"
          >
            Logged In 
        </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>