.main-background {
    text-align: left;
    background-color: rgb(253, 246, 246);
}

.body-container {
    display: flex;  
    justify-content: space-between;
}

.main-image {
    height: 40rem;
    width: 60rem;
    border-top-left-radius: 1rem;
}

.header-text {
    font-size: 65px;
}

.subheader-text {
    font-size: 30px;
    margin-top: 2rem;
}

.icon-div {
    padding-bottom: 0.1rem; 
    padding-right: 0.5rem;
}

.text-container {
    padding-top: 5rem;
    text-align: center;
    color: green;
    margin: 10px;
}

.join-button {
    text-align: center;
    margin-top: 3rem;
    width: 100%;
    width: auto;
    background-color: green;
    color: white;
    overflow: auto;
}