<div class="main-background">
    <div class="form-class">
        <form 
            class="modify-form" 
            [formGroup]="formControl"
        >
            <div class="error-container">
                <button 
                    *ngIf="confirmationErrorMessage"
                    mat-button 
                    class="error-button" 
                    (click)="closeErrorMessage()"
                >
                    <mat-icon>close</mat-icon>
                    Passwords do not match
                </button>
                <button 
                    *ngIf="inputErrorMessage"
                    mat-button 
                    class="error-button" 
                    (click)="closeErrorMessage()"
                >
                    <mat-icon>close</mat-icon>
                    Empty input fields
                </button>
            </div>
            <h1>
                Modify Password
            </h1>
            <div class="pacient-input">
                <input 
                    class="data-input"
                    type="password" 
                    placeholder="New Password" 
                    formControlName="password"
                >
                <input 
                    class="data-input"
                    type="password" 
                    placeholder="Confirmed Password" 
                    formControlName="confirmedPassword"
                >
                <button 
                    class="modify-button" 
                    mat-button 
                    (click)="modifyPassword()"
                >
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>