<div class="main-background">
    <div class="form-class">
        <form 
            class="modify-form" 
            [formGroup]="formControl"
        >
            <button 
                *ngIf="confirmationErrorMessage"
                mat-button 
                class="error-button" 
                (click)="deleteErrorMessage()"
            >
                <mat-icon>close</mat-icon>
                Passwords are not the same
            </button>
            <button 
                *ngIf="inputErrorMessage"
                mat-button 
                class="error-button" 
                (click)="deleteErrorMessage()"
            >
                <mat-icon>close</mat-icon>
                Some fields are empty
            </button>
            <h1>
                Modify Password
            </h1>
            <div class="pacient-input">
                <input 
                    class="data-input"
                    type="password" 
                    placeholder="New Password" 
                    formControlName="password"
                >
                <input 
                    class="data-input"
                    type="password" 
                    placeholder="Confirmed Password" 
                    formControlName="confirmedPassword"
                >
                <button 
                    class="modify-button" 
                    mat-button 
                    (click)="modifyPassword()"
                >
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>