.button-container {
    max-width: 500px; 
    margin: 0 auto; 
    text-align: center; 
}

.text-container {
    text-align: center; 
}

.phase-text {
    font-size: 1.5rem;
    padding-top: 2rem;
}

.welcome-message {
    padding-top: 3rem;
}

.start-button {
    margin-top: 3rem;
    width: 10rem;
    background-color: green;
    color: white;
}