<div class="main-background" @fade>
    <div class="form-container">
        <form class="appointment-form">
            <h1>
                Confirm Appointment
            </h1>
            <div class="price-container">
                <div class="price-subcontainer">
                    <p>Consultation Price:</p>
                    <p> {{this.appointmentPrice}} lei</p>
                </div>
                <div class="price-subcontainer">
                    <p>Subscription Coverage:</p>
                    <p> {{this.updatedPrice}} lei</p>
                </div>
                <div class="price-subcontainer">
                    <p>Total Price:</p>
                    <p> {{this.totalPrice}} lei</p>
                </div>
                <button 
                    class="confirmation-button" 
                    (click)="confirmAppointment()"
                    mat-button 
                >
                    Confirm
                </button>
            </div>
        </form>
    </div>
</div>